################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeTesting/v16/Server/sqlite3
/.vs/CodeTesting/v16
